<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologías Chapinas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style4.css' %}">
</head>
<body>
    <header class="header">
        <form method="POST">
            {% csrf_token %}
            <div class="contenedor">
                <div class="barra">
                    <a href="#" class="logo">
                        <h1 class="logo__nombre no-margin centrar-texto">Tecnologías<span class="logo__bold">Chapinas</span></h1>
                    </a>
                    <nav class="navegacion">
                        <div class="navegacion__enlace">
                            <input type="file" name="fileup" id="fileup" class="inputfile inputfile-1" accept=".xml"/>
                            <label for="fileup">
                                <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                                <span class="iborrainputfile">Seleccionar archivo</span>
                            </label>
                        </div>
                        <nav id="menu"  class="navegacion__enlace">
                            <ul>
                                <li>
                                    <a href="#">Peticiones</a>
                                    <ul>
                                        <li><input name="btnCnslt" type="submit" value="Consultar Datos"></input></li>
                                        <li><input name="btnClsfc" type="submit" value="Resumen de Clasificación por Fecha"></input></li>
                                        <li><input name="btnRango" type="submit" value="Resumen por Rango de Fechas"></input></li>
                                        <li><input name="btnRprte" type="submit" value="Reporte en PDF"></input></li>
                                        <li><input name="btnPrueb" type="submit" value="Prueba de Mensaje"></input></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <a href="#" class="navegacion__enlace">Ayuda</a>
                    </nav>
                </div>
            </div>
            <div class="contenedor">
                <div class="derecha">
                    <input name="btnSend" type="submit" value="Enviar" class="button btn-1 w-100">
                    <input name="btnReset" type="submit" value="Reset" class="button btn-2 w-100">
                </div>
            </div>
            <div class="contenedor dos-columnas">
                <textarea name="input" class="input" disabled="true">{{enter}}</textarea>
                <textarea name="input" class="input" disabled="true">{{out}}</textarea>
            </div>
        </form>
    </header>
    <script src="{% static 'js/Script.js' %}"></script>
</body>
</html>