<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyApp</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a href="#" class="logo">
                    <h1 class="logo__nombre no-margin centrar-texto">Tecnologías<span class="logo__bold">Chapinas</span></h1>
                </a>
                <nav class="navegacion">
                    <div class="navegacion__enlace">
                        <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} archivos seleccionados" multiple />
                        <label for="file-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                        <span class="iborrainputfile">Seleccionar archivo</span>
                        </label>
                    </div>

                    <a href="#" class="navegacion__enlace">Peticiones</a>
                    <a href="#" class="navegacion__enlace">Ayuda</a>
                </nav>
            </div>
        </div>
        <form form="POST">
            <div class="contenedor">
                <div class="derecha">
                    <input type="submit" value="Enviar" class="button btn-1 w-100">
                    <input type="submit" value="Reset" class="button btn-2 w-100">
                </div>
            </div>
            
            <div class="contenedor dos-columnas">
                <textarea name="input" placeholder="input1" class="input" disabled="true"></textarea>
                <textarea name="input" placeholder="input2" class="input" disabled="true"></textarea>
            </div>
        </form>
    </header>

    <script src="js/script.js"></script>
</body>
</html>