<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologías Chapinas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <form method="POST">
            {% csrf_token %}
            <div class="contenedor">
                <div class="barra">
                    <a href="#" class="logo">
                        <h1 class="logo__nombre no-margin centrar-texto">Tecnologías<span class="logo__bold">Chapinas</span></h1>
                    </a>
                    <nav class="navegacion">
                        <a class="navegacion__enlace" href="">Volver</a>
                    </nav>
                </div>
            </div>
            <div class="contenedor">
                <div class="derecha">
                    <input name="consult2" type="submit" value="Consultar" class="button btn-1 w-100">
                </div>
            </div>
            <div class="contenedor">
                <div class="contenedor-select tres-columnas">
                    <select name="fechas1S" id="fechas1S">
                        <option disabled selected>Selecciones una fecha inicial</option>
                        {% for fecha in fechas %}
                        <option value="{{fecha}}">{{fecha}}</option>
                        {% endfor %}
                    </select>
                    <select name="fechas2S" id="fechas2S">
                        <option disabled selected>Selecciones una fecha final</option>
                        {% for fecha in fechas %}
                        <option value="{{fecha}}">{{fecha}}</option>
                        {% endfor %}
                    </select>
                    <select name="empresasS" id="empresasS">
                        <option selected>Todas las empresas</option>
                        {% for empresa in empresas %}
                        <option value="{{empresa}}">{{empresa}}</option>
                        {% endfor %}
                    </select>
                    {% for i in cantimg %}
                    <div class="contenedor-img">
                        <img src="../../static/images/Grafica{{i}}.png" alt="Grafica{{i}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </header>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>