:root{
    --fontHeading: 'PT Sans', sans-serif;
    --fontParrafo: 'Open Sans', sans-serif;
    
    --primary: #0078ff;
    --verde: #42b72a;
    --rojo: #C03425;
    --gris: #bbbdbf;
    --blanco: #fff;
    --negro: #000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParrafo);
    font-size: 1.6rem;
    line-height: 2;
}
/*Globales*/
.contenedor{
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
/*Utilidades*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/*Header*/
.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--negro);
    margin-top: 5rem;
}
@media (min-width: 768px){
    .header__texto{
        margin-top: 15rem;
    }
}
.barra{
    padding: 1rem 10rem;
    background-color: var(--primary);
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
    }
}
.logo{
    color: var(--blanco);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
@media (max-width: 1080px) {
    .logo__nombre{
        font-size: 4rem;
    }
}
@media (max-width: 1000px) {
    .logo__nombre{
        font-size: 3rem;
    }
}
@media (max-width: 880px) {
    .logo__nombre{
        font-size: 2.5rem;
    }
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 3rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
.derecha{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin: 2rem 2rem;
    gap: 2rem;
}
.button{
    width: 100%;
    border: 2px solid;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--blanco);
}
.btn-1{
    background-color: var(--verde);
}
.btn-1:hover{
    color: var(--verde);
    background: transparent;
    border: 2px solid;
    border-color: var(--verde);
    cursor: pointer;
}
.btn-2{
    background-color: var(--rojo);
}
.btn-2:hover{
    color: var(--rojo);
    background: transparent;
    border: 2px solid;
    border-color: var(--rojo);
    cursor: pointer;
}
@media (min-width: 768px) {
    .button{
        width: auto;
    }
}
.w-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-100{
        width: auto;
    }
}
@media (max-width: 528px) {
   .derecha{
       flex-direction: column;
    }
}
/*inputs*/
.dos-columnas{
    padding: 2rem;
}
@media (min-width: 768px) {
    .dos-columnas{
        padding: 2rem;
        display: grid;
        /*grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 50%);
        grid-template-columns: 1fr 1fr;*/
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.input{
    outline: none;
    min-width: 100%;
    height: 40rem;
    resize: none;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-1 + label {
    color: #fff;
    background-color: var(--primary);
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: var(--primary);
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
    cursor: pointer;
    font-size: 1.8rem;
}